extends layout.pug 

block content
    .container 
        h1 All teachers

        each teacher in teachers 
            div.teacher-wrapper
                a.teacher(href=`/teachers/${ teachers.id }`)= teacher.firstname + " " + teacher.secondname
                a.delete(href='#') Delete